.app_orange_theme {
    --bg-color: #faf4fb;
    --inverted-bg-color: #c8561a;
    --primary-color: #8a1a0d;
    --secondary-color: #b8331a;
    --inverted-primary-color: #ebe5ec;
    --inverted-secondary-color: #f6eef7;
}
